/*
*= require_tree .
 */
@import "bulma";


.notification {
  border-radius: 0;
}
.notification:not(:last-child) {
  margin-bottom: 0;
}

img {
  max-width: 100px;
}
* {
    box-sizing: border-box;
}

.row {
    display: flex;
}

.column {
  flex: 50%;
    padding: 30px;
    border: 1px;
  }
