// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.book-grid {

 display: grid;
  width: 85%;
  margin: auto;
  grid-template-columns: repeat(5, 20%);
  grid-gap: 10px;

}


img {

  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  max-width: 400px;
  border: 1px solid #ddd;
  
}
