<center>
<% if user_signed_in? %>
<h3><b>Post a comment</h3></b><br></h3>

<%= simple_form_for [@book, @book.coms.build ] do |f| %>
<h3>
	<div class="form">
  <div class="field">
    <div class="control">
 	  <%= f.input :user_email, :label => 'Your name' %>
   <div class="field">
  	<div class="control">

   <%= f.input :body, :label => 'Your comment' %>
  	</div>

  	</div></h3>

     <center><%= f.button :submit, "Post", class:"button is-dark" %>
       

       
     </center>
     </div>

     <fieldset class="rating">




<% end %>
 <% end %>
</center>
