

<center>
<% if user_signed_in? %>
<div class="comment-form">
<b>Post a comment</b><br>
<%= simple_form_for [@book, @book.coms.build ] do |f| %>
  <%= f.input :user_email, :label => 'Your name' %>
  <%= f.input :body, :label => 'Review this book' %>
  <%= f.button :submit, "Post", class:"button is-dark" %>
<% end %>
</div>
       
     </center>
     </div>

      <% end %>
</center>
